<!--<div style="position: relative; left: 15%; right: 10%; top: 10%; width: 80%; height: 80%;">
<div class='card' style="color: black">
      <app-force-directed-chart-user [data]="chartData"></app-force-directed-chart-user>
</div>
<div>
    <button class="btn btn-primary btn-md" (click)="submit()">Submit</button>
    <button class="btn btn-default btn-md" (click)="cancel()">Cancel</button>
</div>
</div>-->
<div class="unstyled list-hover-slide"
     style="border: groove; border-radius: 7px; left: 10%; right: 10%; top: 10%; width: 80%; height: 80%; color: floralwhite; position: absolute; overflow: auto">
  <div style="color: black; float: left; left: 1%; top: 1%; position: absolute">
    <button mat-button (click)="graphClick()">Graph</button>
    <button mat-button (click)="tableClick()">Table</button>
    <button mat-button (click)="jsonClick()">Json</button>
  </div>
  <div>
    <h1 mat-dialog-title style="margin-bottom: 5%; margin-top: 2%">User Relations</h1>
  </div>
  <div class='card' style="top: 2%;">
    <div *ngIf='_viewMode === "1"' style="color: #1c4963; position: relative;">
      <app-force-directed-chart-user [data]="chartData"></app-force-directed-chart-user>
    </div>
    <div *ngIf='_viewMode === "2"' style="left: 10%; width: 80%; position: relative; color: white">
      <table class="table" style="border: dotted">
        <tr style="border: double">
          <th>#</th>&nbsp;&nbsp;&nbsp;&nbsp;
          <th>User Id</th>&nbsp;&nbsp;&nbsp;&nbsp;
          <th>Group</th>&nbsp;&nbsp;&nbsp;&nbsp;
          <th>Model</th>&nbsp;&nbsp;&nbsp;&nbsp;
          <th>Id</th>&nbsp;&nbsp;&nbsp;&nbsp;
          <th>Description</th>
        </tr>
        <br>
        <tr *ngFor="let node of chartData; let i = index" style="border: dashed">
          <td>{{i + 1}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
          <td align="center">{{node.userId}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
          <td align="center">{{node.familyType}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
          <td align="center">{{node.model}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
          <td align="center">{{node.Id}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
          <td align="center">{{node.name}}</td>
        </tr>
      </table>
    </div>
    <div *ngIf='_viewMode === "3"' style="color: white; position: relative;">
      <pre> <div [innerHTML]="chartData | json"></div> </pre>
    </div>
  </div>
  <div style="color: #de3b12; float: right; right: 1%; bottom: 1%; top: 10%; position: relative">
    <button mat-button (click)="onBackClick()">Go Back</button>
  </div>
</div>
