$primary: #57a1c6;
$highlight: #4fc3f7;

$primary-light: #65CDF1;
$primary-dark: #57A1C6;

$accent: #ee7175;

$primary-text: white;

$disabled: #cccccc;
$disabled-text: #d2d7d3;

$text: #333333;

$success-text: #37B398;

$error-text: #ee7175;
$error-background: #ee7175;

$border-color: #d2d7d3;
$blue: #1976D2;

$grey: #d6d6d6;
$grey-light: #f4f4f4;
$grey-lighter: #f6f6f6;
